APP_NAME="Ecom"
REDIS__HOST="localhost"
REDIS__PORT=6399
MONGO__URL="mongodb://admin:password@localhost:27017"
MONGO__DB_NAME="ecomm"

JWT__SECRET=
JWT__REFRESH_SECRET=
BASE_URL="http://localhost:8000"
CATALOG_SOURCE_URL=
CATALOG_IMAGE_DOMAIN=